In [3]:
# DATAFRAMES
import pandas as pd

# 1D DATAFRAME
s = pd.Series([10,20,30],index = ["a","b","c"])
print(s["b"])
print(s.values)

20
[10 20 30]

In [6]:
# 2D DATAFRAME WITH LABELED ROWS AND COLUMNS

data = {
    "Name" : ["Max", "Lewis", "Charles"],
    "Age" : [28, 33, 27],
    "Points" : [135, 102, 105]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Points
0      Max   28     135
1    Lewis   33     102
2  Charles   27     105

In [17]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 22]
}

df = pd.DataFrame(data, index = range(1,len(data["Name"]) + 1))
print(df)
print(df.head(2))
print(df.tail(2))

      Name  Age
1    Alice   24
2      Bob   27
3  Charlie   22
4    David   32
5      Eva   22
    Name  Age
1  Alice   24
2    Bob   27
    Name  Age
4  David   32
5    Eva   22

In [18]:
# COLUMN ACCESS
print(df.loc[2,'Name'])     # location of [index, column name]
print()
print(df.iloc[0])           # index loacation of index = 0

Bob

Name    Alice
Age        24
Name: 1, dtype: object

In [22]:
# DATAFRAME OPERATIONS

#adding a row or column directly
df["Grade"] = ["B", "A", "A+", "A", "A+"]
print(df)
print()


#df.drop() for removing a row or column
res = df.drop("Age", axis=1, inplace=False)
# inplace = true -> The original DataFrame (df) is modified directly, and no new DataFrame is returned.
# inplace = false (default) -> A new DataFrame is returned with the column dropped, leaving the original df unchanged
print(res)


#renaming a column
res2 = df.rename(columns={"Grade" : "Score"}, inplace=False)
print(res2)

      Name  Age Grade
1    Alice   24     B
2      Bob   27     A
3  Charlie   22    A+
4    David   32     A
5      Eva   22    A+

      Name Grade
1    Alice     B
2      Bob     A
3  Charlie    A+
4    David     A
5      Eva    A+
      Name  Age Score
1    Alice   24     B
2      Bob   27     A
3  Charlie   22    A+
4    David   32     A
5      Eva   22    A+

In [53]:
import numpy as np
df = pd.DataFrame({
    "Name" : ["Alice", None, "David"],
    "Marks" : [85, np.nan, 95]
})

print(df)
print(df.isnull())
a = print(df.fillna("Unknown",inplace=False))
print(a)
df.dropna(inplace=False)

    Name  Marks
0  Alice   85.0
1   None    NaN
2  David   95.0
    Name  Marks
0  False  False
1   True   True
2  False  False
      Name    Marks
0    Alice     85.0
1  Unknown  Unknown
2    David     95.0
None

    Name  Marks
0  Alice   85.0
2  David   95.0