In [2]:
# CONNECTING TO SQLITE3

import sqlite3
conn = sqlite3.connect('students.db') # creates file if not exists
cursor = conn.cursor()

In [4]:
# CREATE A TABLE

cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL,
age INTEGER,
grade TEXT
)
''')
conn.commit() # Save the changes

In [5]:
# INSERTING DATA (CREATE)

cursor.execute("""
INSERT INTO students (name, age, grade)
VALUES (?, ?, ?)
""", ("Alice", 20, "A"))
conn.commit()

In [6]:
# INSERTING MULTIPLE DATA

students_data = [
("Bob", 19, "B"),
("Charlie", 21, "A+"),
("David", 22, "B+")
]
cursor.executemany("""
INSERT INTO students (name, age, grade)
VALUES (?, ?, ?)
""", students_data)
conn.commit()